* {
  box-sizing: border-box;
  outline-color: grey;
}

body {
  background: #f9f9fa;
  color: #7c7879;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

input, 
button, 
textarea {
  border-radius: 5px;
  min-height: 40px;
  padding: 5px 10px;
}

input, 
textarea,
.idea-card {
  border: 2px solid #d2cccd;
  color: #7c7879;
  line-height: 1.5;
}

input,
textarea {
  font-size: 18px;
}

input:focus,
textarea:focus {
  outline-color: grey;
}

button {
  background-color: #6e646b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
  margin: 30px 0px;
}

button:hover {
  background-color: #524649;
}

button:disabled {
  background: #c2c1c0;
}

label {
  color: #7c7879;
  margin-top: 20px;
  margin-bottom: 8px;
}

section {
  margin: auto;
  min-width: 700px;
  width: 50%;
}

.show-btn {
  display: block;
  margin:  25px auto;
  width: 100%;
}

.hidden {
  display: none;
}


.pb-animation img {
  left: -400px;
  position: absolute;
  top: -40px;
  width: 300px;
  z-index: 1;
}

.mr-pb {
    animation: fly 4s linear;
}

@keyframes fly {
  0% {
      transform: translate(2000px, 0px);
  }
  100% {
      transform: translate(-300px, 0px);
  }
}
